# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# TypeScript compiled output
dist/
build/

# Cache directories
.cache/
.tmp/

# OS-specific files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.swp

# Babel cache (if applicable)
.babelrc
.babelrc.js
.babelcache.json

# ESLint cache
.eslintcache

# Optional npm cache
.npm/

# Coverage directory (e.g., for Jest)
coverage/

# Local development files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Yarn lock files (if applicable)
yarn.lock

# PM2 process files (if using PM2 for process management)
.pm2/
